.hrAmores{
    display: block;
    width: 1920px;
    height: 1px;
    background-color: white;
    margin: 0.5% 0;
    padding: 0%;
}
hr{
    display: block;
    width: 100%;
    height: 1px;
    background-color:#ffffff;
}
div.nv-h{
    display: block;
    margin-top: 100px;

}
.nav-footer{
    height: 74px;
    margin-bottom: 1px;
    margin-top: -3px;
}
ul.nav-menu a{
    text-decoration: none;
    padding: 30px 20px 37px;
    color: rgb(255, 255, 255);
    margin: 5px 10px;
}
body.body-amor .nav-amr{
    margin-top: 5px;
    display: flex;

}

div.rd-final{
    padding-right: 3%;
}

div.rd-final img{
    filter: invert(1);
    width: 25px;
    height: 25px;
    margin: 0 5px 0 5px;
} 
body.body-amor{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    overflow-x: hidden;
}
.especializacao{
    
    margin-top: 70px;
    display: block;
    line-height: 2;
    padding: 0 100px 0 100px;
    height:350px;
}
.especializacao-01{
    background-image: url(../img/img-casa671-amores.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-attachment: fixed;
    padding: 600px 0 600px 0;
}
.especializacao-02{

    background-image: url(../img/img-sino-amores.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-attachment: fixed;
    padding: 600px 0 600px 0;
}
.especializacao-03{
    background-image: url(../img/img-senhora-amores.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-attachment: fixed;
    padding: 600px 0 600px 0;
}
.item-menu1 a{
    text-decoration: none;
    padding: 30px 20px 37px;
    color: rgb(255, 255, 255);
    margin: 10px 10px;
    transition: 0.2s;
}
.item-menu1 a:hover{
    border-top: 2px solid #888686;
    border-bottom: 1px solid #8a8787;
}