

.header{
    width: 100%;
    display: flex;
    height: 90px;
    height: 100%;
    margin: 15px 0;
}


body{
    width: 100%;
    max-width: 1920px;
    overflow-x: hidden;
    height: 100%;
}
.nav-menu a{
    padding-top: 30px;
    padding-bottom: 37.5px;
}

div.nav-footer{

    width: 100%;
    max-width: 1920px;
    margin: 13px 0 0 0px ;
}
div.rd-final{
    margin-right: 60px;
}
div.rd-final img{
    filter: invert(1);
    width: 25px;
    height: 25px;
    margin: 0 5px 0 5px;

} 

.cabecalho{ 
    margin: 0% -5% 0 10% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabecalho h1{
    font-size: 2.5em;
    }

.rd-final-SM img{
    filter: invert(1);
    width: 25px;
    height: 25px;
    margin: 0 5px 0 5px;
}
.container-sobre{
    display:flex;
    flex-direction:row;

}
article.sobre-mim p{
    margin: 90px 0px;
}

article.container-txt-embaixo-foto{
    text-align: justify;
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin-left: -1.5%;
    margin-right: 1%;
}
p.txt-embaixo-foto{
    margin: 20px 100px;
}
span.ft-reinaldo img{
    margin-left: 100px;
    border: 2px solid #ffffff;
}


